apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mongo
  labels:
    app: yolo
    tier: database
spec:
  serviceName: "mongo"
  replicas: 1
  selector:
    matchLabels:
      app: yolo
      tier: database
  template:
    metadata:
      labels:
        app: yolo
        tier: database